[Desktop Entry]
Version=1.0
Name=QuickPen
GenericName=QuickPen
Comment=QuickPen Touchscreen Application
Type=Application
Icon=/usr/share/icons/quickpen-icon.png
Terminal=false
Exec=/opt/de.staerk.quickpen/quickpen
Categories=Graphics;
